.has-semi-grey-background {
	position: relative;
	z-index: 1;
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 200vw;
		background: var(--color-semi-grey);
	}
}
