.has-shifted-white-background {
	position: relative;
	z-index: 1;
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: -53px;
		width: calc(100vw + 53px);
		background: #fff;
		border-left: 1px solid var(--color-light-grey);
	}

	&._border-top::before {
		top: -1px;
		border-top: 1px solid var(--color-light-grey);
	}
	&._border-bottom::before {
		bottom: -1px;
		border-bottom: 1px solid var(--color-light-grey);
	}
}
