html {
	scroll-behavior: initial;
	overflow-x: clip;

	// adjust font size for different screen sizes
	// 16 / (Figma design width) * 100 [vw]
	font-size: 16px;
	@media (max-width: 1920px) {
		font-size: 0.925925925925926vw;
	}
	@media (max-width: $tablet-width) {
		font-size: 1.1vw;
	}
	@media (max-width: $mobile-width) {
		font-size: 5vw;
	}
}
